.Header {
  min-height: 100vh;
  padding: 75px 0;
  background: url('./hero-bg.jpg') no-repeat top center;
  background-size: cover;

  &Logo {
    margin-left: 57px;
    min-width: 375px;
    font-size: 3rem;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;

    @media (min-width: @breakpoint-medium) {
      margin-left: 115px;
      min-width: 750px;
      font-size: 6rem;
    }
  }

  &Scroll {
    height: 75px;
  }

  &Logo,
  &Scroll {
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: fade(@global-primary-background, 80%);
  }
}
