@socials-color-vk: #4a76a8;
@socials-color-instagram: #e1306c;
@socials-color-linkedin: #007bb6;
@socials-color-github: #24292e;
@icon-button-size: 56px;

.Socials {
  &_item {
    &--vk {
      background-image: url('./vk.png');
      background-size: 55%;
      background-repeat: no-repeat;
      background-position: center;
      .socialBtnColor(@socials-color-vk);
    }

    &--instagram {
      .socialBtnColor(@socials-color-instagram);
    }

    &--linkedin {
      .socialBtnColor(@socials-color-linkedin);
    }

    &--github {
      .socialBtnColor(@socials-color-github);
    }
  }

  .uk-button-primary {
    .socialBtnColor(@button-primary-background);
  }
}

.socialBtnColor(@color) {
  background-color: @color;
  color: #fff !important;

  &:hover,
  &:focus {
    background-color: darken(@color, 10%);
  }

  &:active {
    background-color: lighten(@color, 10%);
  }
}
